// 头部
header{
    width: 100%;
    height: calc(150rem/112.5);
    background-color: #ffffff;
    padding: calc(30rem/112.5) calc(45rem/112.5);
    box-sizing: border-box;
    input{
        width: 100%;
        height: calc(90rem/112.5);
        padding: 0px calc(48rem/112.5);
        box-sizing: border-box;
        border: 1px solid #edeeee;
        background-color: #f3f4f4;
    }
}
// 主体
main{
    width: 100%;
    &>img{
        width: 100%;
    }
    // 分类
    .sort{
        position: relative;
        width: 100%;
        &>img{
            width: 100%;
        }
        .sort-content{
            position: absolute;
            top: calc(12rem/112.5);
            left: calc(15rem/112.5);
            a{
                float: left;
                width: 25%;
                padding: 0px calc(40rem/112.5);
                margin-bottom: calc(50rem/112.5);
                box-sizing: border-box;
                text-align: center;
                box-sizing: border-box;
                img{
                    height: calc(200rem/112.5);
                    margin-bottom: calc(33rem/112.5);
                    border-radius: 80px;
                }
                span{
                    display: block;
                    font-size: calc(38rem/112.5);
                    color: #4e4448;
                }
            }
        }
    }
    // 清仓
    .qing{
        position: relative;
        width: 100%;
        &>img{
            width: 100%;
        }
        .qing-shop{
            position: absolute;
            left: 0;
            bottom: calc(36rem/112.5);
            padding: 0px calc(48rem/112.5);
            box-sizing: border-box;
            a{
                float: left;
                width: 24%;
                background-color: #fff;
                margin: 0px calc(5rem/112.5);
                box-sizing: border-box;
                img{
                    width: 100%;
                }
                .qing-shop-one{
                    width: 100%;
                    padding: calc(12rem/112.5);
                    span{
                        font-size: calc(26rem/112.5);
                        color: #ffffff;
                        background-image: linear-gradient(to right,#dd449f,#cd79da);
                        border-radius: calc(15rem/112.5);
                        padding: 0px calc(10rem/112.5);
                    }
                    del{
                        color: #de3d96;
                        margin-left: calc(10rem/112.5);
                    }
                }
            }
        }
    }
    // 精选好货
    .stuff{
        width: 100%;
        .stuff-title{
            width: 100%;
            height: calc(170rem/112.5);
            padding: calc(25rem/112.5) 0px;
            box-sizing: border-box;
            overflow: hidden;
            li{
                float: left;
                width: 25%;
                line-height: calc(125rem/112.5);
                padding: 0px calc(56rem/112.5);
                box-sizing: border-box;
                a{
                    display: block;
                    width: 100%;
                    font-size: calc(40rem/112.5);
                    color: #222222;
                }
                &:first-child a{
                    border-bottom: calc(9rem/112.5) solid #e70068;
                }
            }
        }
        // 切换
        .stuff-nav{
            display: flex;
            flex-wrap: nowrap;
            overflow: hidden;
            width: 100%;
            padding: calc(24rem/112.5) 0px;
            overflow: hidden;
            li{
                float: left;
                margin: 0px calc(24rem/112.5);
                border: 1px solid #ccc; 
                padding: calc(24rem/112.5) calc(36rem/112.5);
                a{
                    font-size: calc(35rem/112.5);
                   color: #222222;
                }
            }
        }
        // 商品
        .stuff-shop{
            width: 100%;
            background-color: #fafafa;
            margin-bottom: calc(56rem/112.5);
            li{
                width: 100%;
                height: calc(645rem/112.5);
                padding-right: calc(24rem/112.5);
                box-sizing: border-box;
                overflow: hidden;
                background-color: #fff;
                a{
                    float: left;
                    width: 33.3333%;
                    height: 100%;
                    padding-left: calc(24rem/112.5);
                    box-sizing: border-box;
                    img{
                        width: 100%;
                        margin-bottom: calc(17rem/112.5);
                    }
                    span{
                        font-size: calc(26rem/112.5);
                        color: #ffffff;
                        background-image: linear-gradient(to right, #dd449f, #cd79da);
                        border-radius: calc(15rem/112.5);
                        padding: 0px calc(10rem/112.5);
                    }
                    strong{
                        font-size:calc(45rem/112.5) ;
                        color: #222222;
                        font-weight: bolder;
                    }
                    small{
                        font-size: calc(34rem/112.5);
                        color: #98989f;
                    }
                    p{
                        color: #585c64;
                        margin-top: calc(30rem/112.5);
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient:vertical ;
                        word-wrap: break-word;
                        overflow: hidden;
                    }
                }
            }
        }
        // 加载更多
        .more{
            display: block;
            color: #fff;
            width: calc(594rem/112.5);
            height: calc(90rem/112.5);
            background-color: #e8439e;
            line-height:calc(90rem/112.5) ;
            text-align: center;
            margin: 0px auto;
            margin-bottom: calc(24rem/112.5);
        }
    }
}