// 头部
header{
    position: relative;
    width: 100%;
    height: calc(510rem/112.5);
    text-align: center;
    background-image: url(../upload/Login-background.jpg);
    img{
        width: calc(315rem/112.5);
        margin: calc(180rem/112.5) auto;
    }
    .ziti{
        position: absolute;
        top: calc(45rem/112.5);
        right: calc(45rem/112.5);
        font-size: calc(70rem/112.5);
        color: #2b2b2b;
    }
}
// 主体
main{
    width: 100%;
    ul{
        width: 100%;
        overflow: hidden;
        li{
            float: left;
            width: 100%;
            height: calc(160rem/112.5);
            line-height: calc(160rem/112.5);
            padding: 0px calc(46rem/112.5);
            border-bottom: 1px solid #cccccc;
            box-sizing: border-box;
            &:nth-child(2){
                width: 70%;
            }
            &:nth-child(3){
                width: 30%;
                border-left: 1px solid #ccc;
                a{
                    color: #98989f;
                    font-size: calc(48rem/112.5);
                }
            }
            span{
                font-size: calc(46rem/112.5);
                color: #000;
            }
            input{
                width: calc(540rem/112.5);
                font-size: calc(45rem/112.5);
                padding: 0px calc(46rem/112.5);
                color: #cccccc;
                border: none;
                box-sizing: border-box;
            }
        }
    }
    .phone{
        font-size: calc(44rem/112.5);
        color: #fff;
        display: block;
        width: calc(1034rem/112.5);
        height: calc(132rem/112.5);
        line-height:calc(132rem/112.5) ;
        text-align: center;
        background-color: #caccd2;
        border: none;
        border-radius:calc(132rem/112.5/2) ;
        margin: 0px auto;
        margin-top: calc(90rem/112.5);
        margin-bottom: calc(38rem/112.5);
    }
    .agree{
        position: relative;
        padding: 0px calc(48rem/112.5);
        padding-left: calc(117rem/112.5);
        box-sizing: border-box;
        color: #cccccc;
        overflow: hidden;
        box-sizing: border-box;
        line-height: calc(68rem/112.5);
        i{
            position: absolute;
            top: 0;
            left: calc(48rem/112.5);
            display: inline-block;
            width: calc(60rem/112.5);
            height: calc(60rem/112.5);
            background-image: url(../upload/agree-1.png);
            background-position: 0px 20px;
            background-size: calc(60rem/112.5) calc(120rem/112.5);
        &:hover{
            background-image: url(../upload/agree-1.png);
            background-position: 0px 0px;
            background-size: calc(60rem/112.5) calc(120rem/112.5);
        }
        }
        a{
            color: #157efa;
            line-height: calc(68rem/112.5);
        }
    }
}